.wrapper
  = render "shared/header"
  %p
  = render "shared/left_side_bar"
  %p
  .showform
    .showform__form
      = form_for @message do |f|
        .showform__image
          - if @message.images[0].present?
            = image_tag (@message.images[0].src.url),class:"msgimage"
          - else
        
        .showform__title
          = @message.title
          .showform__day
            = @message.created_at.strftime("%Y-%m-%d %H:%M")
        .showform__contents
          = @message.content
        .right_contents
          = render "shared/edit_side_bar"
