.header
  = link_to messages_path do
    .header__username
      = current_user.name
      .header__logout
        %i.fa.fa-cog
  .header__mainform
    .search_bar
      %input.textform{name: "keyword", type: "text", value: ""}
      %i.fas.fa-search.search_icon
    .header__contents
      = link_to new_group_path do
        .header__tweet
          グループ作成
      = link_to new_message_path do
        .header__tweet
          投稿する
    .header__mypage
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete do
          %i.fa.fa-user
      - else
        = link_to new_user_session_path, method: :get do
          %i.fa.fa-user
        
